{
    "name": "ra/dbsimple",
    "type": "library",
    "keywords": ["db", "simple"],
    "description": "Interface to work with various DBs.",
    "license": "LGPL",
    "version": "1.0.5",
    "require": {
        "php": ">=5.6"
    },
    "authors": [
        {
            "name": "Dmitry Koterov",
            "email": "dmitry.koterov@gmail.com"
        }
    ],
    "repositories": [

    ],
    "autoload": {
        "psr-4": {
            "": "src/"
        }
    }
}